{% if posts|length >= 1 %}

	{% for post in posts %}
    {{post.title}}
    {{ post.postDate.format('F d, Y') }}
    {{macros.post_excerpt(post.body)}}
	{% endfor %}

  {% if pagination.totalPages > 1 %}
    <nav class="pagination">
      <ul class="pagination-list">
        <li><a class="pagination-previous" href="{{ pagination.firstUrl }}">&lt;</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% if pagination.prevUrl %}
          <li><a class="pagination-link" href="{{ pagination.prevUrl }}">&laquo;</a></li>
        {% endif %}
        {% for page, url in pagination.getPrevUrls(5) %}
          <li><a class="pagination-link" href="{{ url }}">{{ page }}</a></li>
        {% endfor %}
        <li><a class="pagination-link is-current">{{ pagination.currentPage }}</a></li>
        {% for page, url in pagination.getNextUrls(5) %}
          <li><a class="pagination-link" href="{{ url }}">{{ page }}</a></li>
        {% endfor %}
        {% if pagination.nextUrl %}
          <li><a class="pagination-link" href="{{ pagination.nextUrl }}">&raquo;</a></li>
        {% endif %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-next" href="{{ pagination.lastUrl }}">&gt;</a></li>
      </ul>
    </nav>
  {% endif %}
{% else %}
  <p>Nothing here yet... Check back again soon!</p>
{% endif %}