{# Set the `bodyClass` variable to the entry's section handle if there is one, or the first URI segment (this is used by the parent template) #}
{% if bodyClass is not defined %}
    {% set bodyClass = entry is defined ? entry.section.handle : craft.request.firstSegment %}
{% endif %}

{# SEO #}
{% if entry is defined %}
    {% if entry.seoTitle|length %}
        {% set seoTitle = entry.seoTitle %}
    {% endif %}
    {% if entry.seoDescription|length %}
        {% set seoDescription = entry.seoDescription %}
    {% endif %}
    {% if entry.seoKeywords|length %}
        {% set seoKeywords = entry.seoKeywords %}
    {% endif %}
{% endif %}

{% import "_macros/macros" as macros %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if seoTitle is defined %}{{ seoTitle }}{% else %}{{ defaultSeo.seoTitle }}{% endif %}</title>
        <!-- Facebook Meta -->
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="{% if craft.request.getSegment(2) | length %}article{% else %}website{% endif %}" />
        <meta property="og:title" content="{% if seoTitle is defined %}{{ seoTitle }}{% else %}{{ defaultSeo.seoTitle }}{% endif %}" />
        <meta property="og:description" content="{% if seoDescription is defined %}{{ seoDescription }}{% else %}{{ defaultSeo.seoDescription }}{% endif %}" />
        <meta property="og:url" content="{{ url(craft.request.path) }}" />
        <meta property="og:site_name" content="{{ siteName }}" />
        <meta property="og:image" content="{{siteUrl}}images/logo.png" />
        <meta property="fb:app_id" content="" />

        <!-- Twitter Meta -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@">
        <meta name="twitter:creator" content="@">
        <meta name="twitter:title" content="{% if seoTitle is defined %}{{ seoTitle }}{% else %}{{ defaultSeo.seoTitle }}{% endif %}">
        <meta name="twitter:description" content="{% if seoDescription is defined %}{{ seoDescription }}{% else %}{{ defaultSeo.seoDescription }}{% endif %}">
        <meta name="twitter:image" content="{{siteUrl}}images/logo.png">

        <meta name="description" content="{% if seoDescription is defined %}{{ seoDescription }}{% else %}{{ defaultSeo.seoDescription }}{% endif %}" />
        <meta name="keywords" content="{% if seoKeywords is defined %}{{ seoKeywords }}{% else %}{{ defaultSeo.seoKeywords }}{% endif %}" />
        
        <link rel="canonical" href="{{ siteUrl }}" />
        <link rel="shortcut icon" href="{{ siteUrl }}src/images/favicon.ico" />
        <link rel="apple-touch-icon" href="{{ siteUrl }}src/images/apple-touch-icon.png" />
        <link rel="home" href="{{ siteUrl }}" />
        <link rel="stylesheet" type="text/css" href="{{ siteUrl }}src/css/style.css" />

        <script>
            (function(d) {
                var config = {
                    kitId: 'ggy4jdx',
                    scriptTimeout: 3000,
                    async: true
                },
                h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
            })(document);
        </script>
        {% if externalScripts.headScripts|length %}
            {{ externalScripts.headScripts }}
        {% endif %}
    </head>
    <body {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>
        {% block body %}{% endblock %}
        {{getFootHtml()}}
        <script src="{{ siteUrl }}src/js/scripts.js"></script>
        {% if externalScripts.googleAnalytics | length %}
            <script>
                (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='https://www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                ga('create','{{ externalScripts.googleAnalytics }}','auto');ga('send','pageview');
            </script>
        {% endif %}
    </body>
</html>

